code/cnn
code/cnn_augmentation
code/star_tracker_dataset
code/*.npy
code/figures
project_guidelines.pdf
sample_proposal.pdf
report/StarTracker*
!report/StarTracker.tex
!report/StarTracker.pdf
proposal
report/PaperForReview*
report/RebuttalTemplate*
report/egbib.bib
report/README.md
report/figures/*.pub
submission